.checkout-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout-form--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .checkout-form--container {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 992px) {
}
